*{
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
    background-color: #E5E5E5;

}

.main-layout{
    background: #FCFDFD;
    padding-top: 266px;
    padding-bottom: 138px;
}

.main-layout-right{
    width: 50%;
    float: left;

}

.main-layout-left{
    width: 50%;
    float: left;
    text-align: center;
}

.main-layout-title{
    font-size: 48px;
    margin-bottom: 60px;

}

.main-layout-name {
    font-size: 16px;
}
.main-layout-button{
    width: 224px;
    background-color: #34547A;
    color: white;
    text-align: center;
    padding: 25px 5px;
    font-size: 16px;

}